#left { /*Image and text over image*/
  background:
    linear-gradient(to bottom, rgba(255, 140, 13, 0.88), rgba(255, 140, 13, 0.95), rgba(255, 140, 13, 1)),
    url("https://c1.staticflickr.com/1/852/29830252458_bdc72be343_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#left h2 {
  font-size: 30px
}

#left p {
  font-size: 25px;
  line-height: 35px;
}

#me {
  color: white;
  text-align: center;
  padding-top: 230px;
  margin-bottom: 35px
}

.bio {
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 35px;
}

.social {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 310px;
}

.social .btn {
  color: white;
  line-height: 50px;
  font-size: 35px;
  margin-right: 5px;
  margin-left: 5px;
}

.fa:hover {
  opacity: 0.5;
}

#center {
  width: 12%;
  float: left;
}

.title {
  background: linear-gradient(to left, #1293DB 33%, #2EB4FF 67%, #1BADFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-left: 20px;
}

#about {
  margin-top: 13px;
}

#skills {
  padding-top: 173px;
}

#random {
  padding-top: 217px;
}

#right {
  width: 48%;
}

.facts {
  position: relative;
  margin-left: 0;
  padding-left: 0;
}

#professional {
  height: 204px;
}

#program {
  height: 249px;
}

ul {
  list-style-type: none;
}

.footer {
  bottom: 0;
}
