#left {
  position: fixed;
}

#left h1{
  text-align: center;
  margin-top: 300px;
}

#right {
  width: 60%;
  padding-left: 40px;
}

h1 {
  text-transform: uppercase;
}

.popup-position {
  display: none;
  position:fixed;
  background-color: rgba(207,203,202, 0.8);
  width: 60%;
  height: 100%;
  text-align: center;
}

#popup-wrapper {
  width: 500px;
  margin: 70px auto;
  text-align: left;
}

#popup-container {
  background-color: #FFF;
  margin-top: 75%;
  border-radius: 4px;
}

#wrapper {
  padding-left: 100px;
}

.proj-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 176px;
  width: 320px;
}

#lgnd {
  background-image: url("https://c2.staticflickr.com/2/1779/30099416668_64b2789763_n.jpg");
}

#lgnd-text-up {
  font-size: 20px;
}

#sggt {
  background-image: url("https://c2.staticflickr.com/2/1779/30099416668_64b2789763_n.jpg");
}

#sggt-text-up {
  font-size: 20px;
}

#pjct {
  background-image: url("https://c2.staticflickr.com/2/1779/30099416668_64b2789763_n.jpg");
}

#pjct-text-up {
  font-size: 20px;
}

#awkn {
  background-image: url("https://c2.staticflickr.com/2/1779/30099416668_64b2789763_n.jpg");
}

#awkn-text-up {
  font-size: 20px;
}

.text-up {
  text-decoration: none;
  text-transform: uppercase;
  color: #E88D0C;
}

.bullet-up {
  list-style-type: none;
}

#lgnd-text-up {
  padding-left: 88.9px;
  padding-right: 88.9px;
  padding-bottom: 155px;
}

#sggt-text-up {
  padding-left: 69.9px;
  padding-right: 70px;
  padding-bottom: 155px;
}

#pjct-text-up {
  padding-left: 61.1px;
  padding-right: 61.1px;
  padding-bottom: 155px;
}

#awkn-text-up {
  padding-left: 40.5px;
  padding-right: 40.5px;
  padding-bottom: 155px;
}

.proj-img .text-up {
  display: none;
}

.proj-img:hover .text-up {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
}
