@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  font-family: sans-serif;
  background: #FFF;
  font-weight: 749;
}

.topnav {
  background: #1293DB;
  overflow: hidden;
  padding: 0 100px;
}

.topnav a {
  color: #444;
  text-decoration: none;
  text-align: center;
  padding: 20px 20px;
}

.topnav .active {
  float: left;
  text-transform: uppercase;
  padding: 25px 0;
  color: black;
  font-size: 35px;
}

.topnav .spots {
  float: right;
  margin-left: 70px;
  padding-top: 32px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.topnav .active:hover {
  color: #6D0CE8;
}

.topnav .spots:hover {
  color: #E88D0C;
}

.topnav .spots::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #E88D0C;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.topnav .spots:hover::before {
  width: 100%;
}

.topnav .icon {
  display: none;
  font-size: 35px;
}

.topnav .icon:hover {
  background-color: #E88D0C;
}

@media screen and (max-width: 1120px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1120px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
